body {
    background-color: #232323;
}
.square {
    width: 30%;
    background: yellow;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

.container {
    max-width: 640px;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
    margin: 0;
}

.color-display {
    font-size: 3rem;
    padding: 0 0;
}